<main class="page login-page">
    {{{ Header }}}
    <div class="container">
		<form class="card login">
			<div class="card__content">
				<h2 class="fs-h2">Вход</h2>
				<div class="card__inputs">
					{{{ LoginInput }}}
					{{{ PasswordInput }}}
				</div>
			</div>
			<div class="card__controls">
				{{{ ButtonLogin }}}
				{{{ LinkRegistration }}}
			</div>
		</form>
    </div>
</main>
