<div class="input__container">
    <label class="input__label" for="{{name}}">{{label}}</label>
    <input
            id="{{name}}"
            class="input"
            name="{{name}}"
            placeholder="{{placeholder}}"
            type="{{type}}"
    />
    <div class="input__label_error">{{errorMessage}}</div>
</div>