<div class='input__container'>
	<label class='input__label' for='{{name}}'>{{label}}</label>
	<input
		id='{{name}}'
		class='input{{#if isError}} error{{/if}}'
		name='{{name}}'
		placeholder='{{placeholder}}'
		{{#if type}} type='{{type}}' {{/if}}
		value='{{value}}'
	/>
	{{#if isError}}
		<div class='input__label_error'>{{errorMessage}}</div>
	{{/if}}
</div>
