<button id="{{id}}" class="button {{modifier}}" {{#if disabled}}disabled{{/if}} type="{{type}}">
    {{#if label}}
        <span>{{label}}</span>
    {{else}}
        {{> icon}}
    {{/if}}
</button>
