<div class="page profile-page">
    {{> Header}}
    <div class="container flex">
        <aside class="profile-page__back-section">
            <a class="link" data-page="main">
				{{{ ButtonBack }}}
            </a>
        </aside>
        <main class="container profile-page__main-section">
            <section class="profile">
                <div class="profile__header">
                    {{{ Avatar }}}
                    <h2 class="fs-h2">{{displayName}}</h2>
                </div>
                <div class="profile__content__container">
                    <div class="profile__content info active">
                        <div class="profile__content__fields">
                            {{> InfoField label="Почта" value=email }}
                            {{> InfoField label="Логин" value=login }}
                            {{> InfoField label="Имя" value=firstName }}
                            {{> InfoField label="Фамилия" value=secondName }}
                            {{> InfoField label="Имя в чате" value=displayName }}
                            {{> InfoField label="Телефон" value=phone }}
                        </div>
                        <div class="profile__controls">
                            <div class="profile__controls__control">
                                <a id="change-data" class="link fs-default-bold">Изменить данные</a>
                            </div>
                            <div class="profile__controls__control">
                                <a id="change-password" class="link fs-default-bold">Изменить пароль</a>
                            </div>
                            <div class="profile__controls__control">
                                <a class="link fs-default-bold red" data-page="login">Выйти</a>
                            </div>
                        </div>
                    </div>

                    <form class="profile__content edit">
                        <div class="profile__content__fields inputs">
							{{{ EmailInput }}}
							{{{ LoginInput }}}
							{{{ FirstNameInput }}}
							{{{ SecondNameInput }}}
							{{{ DisplayNameInput }}}
							{{{ PhoneInput }}}
                        </div>
                        <div class="profile__controls">
							{{{ ButtonSaveInfo }}}
                        </div>
                    </form>

                    <form class="profile__content edit-password">
                        <div class="profile__content__fields inputs">
							{{{ OldPasswordInput }}}
							{{{ NewPasswordInput }}}
							{{{ NewPasswordRepeatInput }}}
                        </div>
                        <div class="profile__controls">
                            {{{ ButtonSavePassword }}}
                        </div>
                    </form>
                </div>
            </section>
        </main>
    </div>
</div>
