<div>
	<div class="avatar" data-modal="{{modalId}}">
		{{# if src}}
			<img alt="avatar" src="https://ya-praktikum.tech/api/v2/resources{{src}}">
			{{else}}
			<img alt="avatar" src="/media/images/avatar-default.png">
		{{/if}}
		<span>{{hoverText}}</span>
	</div>
	{{{ AvatarModal }}}
</div>
